<p class="flow-text">
  Pokédex ID# <%= pokedata.order %> - <%= pokedata.name %>
</p>

<div class="row">
  <div class="col s4">
    Normal Version
    <hr />
    <img
      class="sprite"
      src="<%= pokedata.sprites.front_default %>"
      alt="Sprite"
    />
  </div>
  <div class="col s4">
    Shiny Version
    <hr />
    <img
      class="sprite"
      src="<%= pokedata.sprites.front_shiny %>"
      alt="Sprite Shiny"
    />
  </div>
  <div class="col s4">
    <div class="polarid">
      <strong><em> >Statistics/</em></strong
      ><br />
      height:<%= pokedata.height/10 %> m weight:<%= pokedata.weight/10 %> kg
      <br />
      Types: <% pokedata.types.forEach((t)=>{ %>
      <p class="<%= t.type.name %>"><%= t.type.name %></p>
      <% }); %>
    </div>
  </div>
</div>
