<h2><%= pokedata.order %> - <%= pokedata.name %></h2>
<div>
  <img
    class="sprite"
    src="<%= pokedata.sprites.front_default %>"
    alt="Sprite"
  />
</div>
<div>
  <h3>Shiny Version</h3>
  <img
    class="sprite"
    src="<%= pokedata.sprites.front_shiny %>"
    alt="Sprite Shiny"
  />
</div>
<div>
  <h3>Types:</h3>

  <% pokedata.types.forEach((t)=>{ %>
  <h4 class="<%= t.type.name %>"><%= t.type.name %></h4>
  <% }); %>
</div>
